.inputForm {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.buttonSubmit {
  background-color: #0468BF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
}

.buttonSubmit:hover {
  background-color: #6393A6;
}

.alert{
    color:red;

}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}